.header{
    margin: 0 auto;
    margin-bottom: 40px;


    &__subtitle{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;  
        text-align: center;
        color: $c-subtext;
        margin-bottom: 15px;
    }


    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 66px;
        text-align: center;
        color: $c-cold;
        margin-bottom: 40px;
    }
    &__divider{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        height: 20px;
        margin: 0 auto;
        gap: 5px;
    }
}

.divider{
    &__line-l{
        width: 210px;
        border-bottom: 1px solid $c-cold ;
    }
    &__icon{}
    &__line-r{
        width: 210px;
        border-bottom: 1px solid $c-cold
    }
}