.container{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}
body{
    background-color: rgb(163, 163, 163);
    font: 18px Arial

}
main{
   padding-left: 15%;
   padding-top: 15%;
   padding-right: 5%;
}