.container{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}
body{
    background-color: rgb(163, 163, 163);
    font: 18px Arial

}
main{
   padding-left: 15%;
   padding-top: 10%;
   padding-right: 5%;
   padding-bottom: 5%;
}

#semantic a:link, a:visited{
    color: black;
}
#semantic a:hover{
    color: blue;
}
iframe{
    width:100%;
    
}
footer{
    margin-top: 20px;
}
footer a:link, a:visited{
    color: black;
}
