
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --form-color-h1: #1C1C1C;
    --form-color-label: #545454; 
    --form-color-small_text: #969696;
    --form-color-border: #E4E4E4;
    --form-color-border_hover: #007BFF;
    --form-color-button_background: #007BFF;
    --form-color-button_text: #FFFFFF;

}

body{
    background: #E5E5E5;
}

label{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 7px;
    cursor: pointer;
    
}

a{
    text-decoration: none;
    color: var(--form-color-border_hover);
}

.container{
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 34px;
    background: #FFFFFF;
    margin-top: 55px;
}

h1{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    
}

.full_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fn{
    width: 100%;
    margin-right: 12px;
}

.ln{
    width: 100%;
}

.country{
    width: 100%;
    margin-right: 12px;
}

.city{
    width: 100%;
}

.first_name input{
    width: 100%;
    height: 38px;
    border-color: var(--form-color-border);
    border-radius: 6px;
    outline: none;
}

.first_name input:active{
    border: 2px solid var(--form-color-border_hover);
    
}
.last_name input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border-color: var(--form-color-border);
    outline: 0 none;
}

.email{
    margin-bottom: 20px;
}

.email input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border-color: var(--form-color-border);
    margin-bottom: 7px;
    outline: 0 none;
    
}

.email_hint{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    
}

.gender_select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gender label{
    margin-right: 20px;
}

.gender{
    margin-bottom: 20px;
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gender input{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom_radio{
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.gender:hover input ~ .custom_radio {
    background-color: #ccc;
  }
  
  .gender input:checked ~ .custom_radio {
    background-color: #2196F3;
  }
  
  .custom_radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .gender input:checked ~ .custom_radio:after {
    display: block;
  }
  
  .gender .custom_radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }




.address{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.country_select select{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border-color: var(--form-color-border);
    outline: none;
    
}

.city input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    border-color: var(--form-color-border);
    outline: none;
}

.button_submit{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

button{
    border: none;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    background-color: var(--form-color-button_background);
}

.button_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: var(--form-color-button_text);
}

.privacy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.privacy a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.line{
    border-bottom: 1px solid var(--form-color-border);
}
.log_in{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.log_link a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: var(--form-color-button_background);
}

.profile_image{
    display: flex;
    max-width: 278px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.image img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.file input{
    width: 100%;
    max-width: 138;
    height: 30px;
    border: 1px solid var(--form-color-border);
    outline: 0 none; 
    border-radius: 6px;  
}



.file .hint{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
}

.file{
    margin-top: 10px;
}

.button_del button{
    width: 30px;
    height: 30px;
    background:none;
    border: 1px solid var(--form-color-border);
    margin-left: 8px;
    margin-top: 10px;
    box-shadow: 1px 1px 0 0;
}

.data_field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.right{
    width: 100%;
}
.left{
    width: 100%;
    margin-right: 12px;
}





.name input{
    width: 100%;
    max-width: 245px;
    height: 38px;
    border-color: var(--form-color-border);
    border-radius: 6px;
    outline: 0 none;
}

.name{
    margin-bottom: 20px;
}

.city{
    margin-bottom: 20px;

}

.country_select{
    margin-bottom: 20px;
}

.zip_code input{
    width: 100%;
    max-width: 245px;
    height: 38px;
    border-color: var(--form-color-border);
    border-radius: 6px;
    outline: 0 none;
}


.phone_number input{
    width: 100%;
    max-width: 245px;
    height: 38px;
    border-color: var(--form-color-border);
    border-radius: 6px;
    outline: 0 none;
}



.button_update button{
    max-width: 138px;
    height: 38px;
}

input:focus:not([type=checkbox], [type=radio]){
    border: 2px solid var(--form-color-border_hover);
}


    







