html{
    scroll-behavior: smooth;
}
header{
    background-image: url(./../../images/Background_head_blue.png);
    background-repeat: no-repeat;
    background-size:cover ;

}
.header_blur{
    background-image: url(./../../images/background-header.png);
    background-repeat: no-repeat;
    background-size:cover ;
}


.navbox{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    align-items: center;
    padding-top: 54px;
    margin-bottom: 223px;

    &__logo{}
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    &__socials{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
       
}

.socials__link:hover{
    transition: .2s;
    box-shadow: 0 0  5px 2px  white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.socials__link:active{
    transition: .2s;
    box-shadow: 0 0  15px 2px  white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
    
.point{
    transition: .4s;
}


.link:hover{
    .point{
        fill: #ffffff;
        transition: .4s;
    }
    .link_wrapper__text{
        transition:  .2s;
        text-shadow: 3px  4px 5px  white;
    }
}
.link_wrapper{
    display: flex;
    flex-direction: row;
    gap: 14px;
    &__text{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        

    }
}


.titlebox{
    text-align: center;
    margin-bottom: 240px;
    &__title{
        margin-bottom: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    &__text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: #FFFFFF;

    }
}

.scroll{
    text-align: center;
    padding-bottom: 50px;
    transition: .2s;
    transition-duration: 0.2s;
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
}
@keyframes jump {
    from, to {
        transform: translateY(-15px);
      }
      50% {
        transform: translateY(15px);
      }
      
    
}
.scroll-arrow{
}

.scroll-arrow:hover .arrow{
    transition: .2s;
    box-shadow: 0 0  5px 2px  white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    
}
.scroll-arrow:active .arrow{
    transition: .2s;
    box-shadow: 0 0  15px 2px  white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.titleblock1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 147px;
    &__line{
        border-bottom: 1px solid #000;
        width: 100px;
        margin-bottom: 30px;
        text-align: center;
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #2C4058;
    }
}

.projects{
    background-image: url(./../../images/proj_bg1.png);
    background-position: 0px 274px;
    background-repeat: no-repeat;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.projects1{
    background-image: url(./../../images/proj_bg2.png);
    background-position: right 921px;
    background-repeat: no-repeat;
}
.project{
    
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 177px;
    &__image{
        max-width: 630px;
        width: 100%;
    }
    &__detail{
        padding-top: 100px;
        max-width: 476px;
    }
}

.project-detail{
    &__sutitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #2C4058;
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2C4058;
        margin-bottom: 19px;
    }
    &__text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2C4058;
        margin-bottom: 40px;
    }
    &__location{}
}
.location-link{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    transition: .2s;
}
.location-link:hover{
    text-decoration: underline;
    transition: .2s;
}

.btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 16px 41px;
    background: none;
    width: 190px;
    height: 50px;
    border: 1px solid #2C4058;
    margin-bottom: 60px;
    padding: 16px 40px;
}

.news{
    background-image: url(./../../images/bg-news-blue.png);
    background-repeat: no-repeat;
    background-size:cover ;
}
.news-bg{
    background-image: url(./../../images/background-news.png);
    background-repeat: no-repeat;
    background-size:cover ;
}
.titleblock2{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__line{
        border-bottom: 1px solid #ffffff;
        width: 100px;
        margin-bottom: 30px;
        text-align: center;
        padding-top: 120px;
        
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #ffffff;
        
    }
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 170px;
    
}

.card{
    background-color: #FFFFFF;
    max-width: 370px;
    width: 100%;
    &__image{
        margin-bottom: 30px;
    }
    &__discription{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15px;
    }
    &__text{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 39px;
    }
    &__personData{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 60px;
    &__p1{
        grid-area: 1 / 1 / 3 / 2;
    }
    &__p2{
        grid-area: 1 / 3 / 2 / 4;
    }
    &__p3{
        grid-area: 1 / 4 / 2 / 5;
    }
    &__p4{
        grid-area: 2 / 3 / 3 / 4;
    }
    &__p5{
        grid-area: 2 / 4 / 3 / 5;
    }
}
.gal-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}
//GALLERY

//CONTACT

.contact{
    position: relative;
}
.contactBox{
    background-color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
    position: absolute;
    top: 400px;
    right: 420px;
    
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 54px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 68px;
        
        
    }
}

.titleblock3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 42px;
    &__line{
        border-bottom: 1px solid #000;
        width: 100px;
        margin-bottom: 30px;
        text-align: center;
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #2C4058;
    }
}

input{
    
    width: 290px;
    height: 30px;
    outline: 0 none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #677383;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
input:focus{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    border-bottom: 2px solid #151616;
}

.btn-submit{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 16px 41px;
    background: none;
    width: 140px;
    height: 50px;
    border: 1px solid #2C4058;
    margin-bottom: 60px;
    
    margin-top: 35px;
    transition: .3s;

}
.btn-submit:hover{
    border: 2px solid black;
    transition: .3s;
    
}

.btn-submit:active{
    box-shadow: 0 0 5px 2px  gray;
    transition: .2s;
    
}

.btn:hover{
    border: 2px solid black;
    transition: .3s;
    padding: 16px 35px;
    
}

.btn:active{
    box-shadow: 0 0 5px 2px gray;
    transition: .2s;
    padding: 16px 35px;
    
}





//CONTACT



//FOOTER
.footer{
    background-image: url(./../../images/Background-footer-blue.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

.footer-blur{
    background-image: url(./../../images/Background-footer.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 720px;
    padding-top: 230px;

}

.footer-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 41px;
    gap: 369px;
}



.copyright{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 234px;
}

