.intro{
    //background-image:url(https://cdn.marvel.com/content/1x/characters_art_mas_dsk_01.jpg);
    background-image:url(./../../assets/characters3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    padding-top: 80px;
    margin-bottom: 8px;
    color: white;
    text-align: center;
    font-size: 26px;
}

p{
    padding-bottom: 600px;
    color: white;
    text-align: center;
}