
.cardbox{
    padding: 100px 30px;
    width: 100vw;
    
    
    background-color: #9789f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    row-gap: 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.card{
    max-width: 370px;
    min-height: 590px;
    width: 100%;
    background-color: $c-gray-bg;
    position: relative;
    padding-bottom: 57px;
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
    z-index: 0;
    &:hover{
        -webkit-transform: scale(1.07);
            -ms-transform: scale(1.07);
                transform: scale(1.07);
        -webkit-transition-duration: .8s;
             -o-transition-duration: .8s;
                transition-duration: .8s;
        padding-bottom: 87px;
        z-index: 1;
        .btn{
            -webkit-transform: translateY(-85px);
                -ms-transform: translateY(-85px);
                    transform: translateY(-85px);
            -webkit-transition-duration: .6s;
                 -o-transition-duration: .6s;
                    transition-duration: .6s;
            background-color: #FD8D7B;
        }
        .sell{
            bottom: 30px;
        }
        .colorbub{
            fill: #FD8D7B;
            -webkit-transition-duration: .6s;
                 -o-transition-duration: .6s;
                    transition-duration: .6s;
        }
        .popular{
            visibility: visible;
            -webkit-transition-duration: .6s;
                 -o-transition-duration: .6s;
                    transition-duration: .6s;
            z-index: 10;
        }
    }

    &__bg{
        background-image: url('./images/bg-service.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-height: 390px;
    }

    &__price{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 40px;
        margin-bottom: 24px;

    }
    &__title{
        font-family: 'Bebas Neue Book';
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        margin-bottom: 70px;
    }
    &__icon{
        padding-top: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    &__discont{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #A9A9A9;
        position: absolute;
        bottom: 0;
        left: calc(50% - 81px);
        -webkit-transition-duration: .6s;
             -o-transition-duration: .6s;
                transition-duration: .6s;
        
    }
    &__btn{
        width: 200px;
        height: 54px;
        border-radius: 30px;
        background-color: $c-button-bg;
        border: none;
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition-duration: .6s;
             -o-transition-duration: .6s;
                transition-duration: .6s;
        position: absolute;
        bottom: -28px;
        left: calc(50% - 100px);
        &:active{
            box-shadow: 0 0 3px 3px #FD8D7B;
            transition: .1s;
        }
    }
}

.price{
    &__current{
        font-family: 'Bebas Neue Thin';
        font-size: 24px;
        line-height: 28px;
        color: #181818;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
    &__quantity{
        font-family: 'Bebas Neue Thin';
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.08em;
        color: #000000;
    }
    &__pcs{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.08em;
        color: #000000; 
        -ms-flex-item-align:end; 
            align-self:flex-end;
    }
}

.services-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    min-height: 81px;
    gap: 30px;
    padding-bottom: 60px;

    &__item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #000000;
    }
}

.bubble{
    position: absolute;
    top: 10px;
    right: 10px;
}

.colorbub{
    fill: $c-button-bg;
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
}

.colortext{
    fill: #FFFFFF;
}

.popular{
    position: absolute;
    top: 25px;
    right: -75px;
    -webkit-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    visibility: hidden;
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from, to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    15% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    45% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes pulse {
    from, to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    15% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    45% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


