*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    margin-bottom: 70px;
    height: 80px;
    
}

.container{
    max-width: 1200px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    
}

.content_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.title{
    max-width: 200px;
    width: 100%;
    margin-right: 198px;
}

.nav{
    max-width: 352px;
    width: 100%;
    margin-right: 1px;
    margin-right: 160px;
}

.nav__items{
    text-align: center;
    max-width: 352px;
}

.nav__item a{
    text-decoration: none;
}

.item__link{
    
    color: #FF9900;
}

.nav__item{
    display: inline-block;
    margin-right: 20px;
    
}


.buttons{
    max-width: 252px;
    display: inline-block;
    
}

.button{
    text-align: center;
    max-width: 352px;
}

.button__sing-in{
    display: inline-block;
    width: 110px;
    height: 45px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgb(202, 202, 202)
}

.button__sing-in:hover{
    box-shadow: 1px 1px 1px 1px #e29f39;
}

.button__sing-up:hover{
    box-shadow: 1px 1px 1px 1px #d1cece;
}

.button__sing-up{
    display: inline-block;
    width: 110px;
    height: 45px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    
}

.btn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2F281E;
}

.custom{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.intro{
    margin-bottom: 99px;
}

.content__left{
    display: inline-block;
    width: 100%;
    min-width: 500px;
}

.content__right{
    display: inline-block;
    width: 100%;
    min-width: 644px;
}


.intro__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}

.intro__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin-bottom: 20px;
}

.intro__button{
    display: inline-block;
    width: 180px;
    height: 50px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    padding: 13px 40px;
}

.intro__button:hover{
    box-shadow: 1px 1px 1px 1px #d1cece;
}

.tools__title{
    width: 539px;
    
    margin: 0 auto;

}

.gradient_box{
    background: linear-gradient(0deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
    max-width: 2211px;
    margin-bottom: 100px;
    border-radius: 0 0 75% 75%;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2F281E;
    width: 100%;
    margin-bottom: 37px;
}

.tools__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card{
    max-width: 270px;
    text-align: left;
}

.card__logo{
    margin-bottom: 30px;
}

.card__title{
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
}

.card__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.btn__sign-nov{
    width: 180px;
    height: 50px;
    background: #FF9900;
    border-radius: 4px;
}

.tools__button{
    padding-bottom: 74px;
}

.benefits{
    display: flex;
    justify-content: space-around;
}

.benefits-left{
    max-width: 525px;
    text-align: left;
}

.benefits-right{
    max-width: 525px;
}

.benefits-left__sup{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.benefits-left__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
    margin-bottom: 20px;
}

.benefits-left__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 30px;
}

.benefits-left__bold{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E; 
    margin-bottom: 10px;
}


